body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-self: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

form {
    max-width: 400px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

a {
    margin-right: 10px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}